//Colors
$mainColor:#D04F4F;
$searchAreaColor:#e7e7e7;
$dropDownFontColor:#ffff;
$dropDownIngredientsColor:#3282F7;
$dropDownAppareilsColor:#68D9A4;
$dropDownUstensilesColor:#ED6454;

// Google Fonts
$fontLogo :DM Sans;
$fontSearchArea:Lato;

//BreakPoint Responsive
$breakpoints:(mobile-max:768px,tablette-max:1200px);